<h2 id="title">{{model.name}}</h2>
<h2 id="title">{{model.cpu}}</h2>
<h2 id="title">{{model.memory}}</h2>
<h2 id="title">{{model.storage}}</h2>
<h2 id="title">{{model.cpuType}}</h2>
<h2 id="title">{{model.status}}</h2>
<h2 id="title">{{model.template}}</h2>
<h2 id="title">{{model.user}}</h2>
<h2 id="title">{{soundVolume}}</h2>

{{outlet}}
